{% if product.description != blank %}
   <div class="product__description rte {{ class }}" itemprop="description" {{ block.shopify_attributes }}>
    
     
  </div>

<ul class="list-tabs">
			<li class="tab-title">
				<span data-taptop="" data-target="#description" class="tab-links">
					<span class="title border">
						Description
					</span>
				</span>
			</li>
			<li class="tab-title">
				<span data-taptop="" data-target="#shipping" class="tab-links">
					
					<span class="title">
						Handling
					</span>
				</span>
			</li>
			<li class="tab-title">
				<span data-taptop="" data-target="#policy" class="tab-links">
					<span class="title">
						Return
					</span>
				</span>
			</li>
		</ul>
		<div class="wrapper-tab-content">
			<div class="tab-title description active" id="description">
				{{ product.description }}
			</div>
			<div class="tab-title shipping hide" id="shipping">
				Shipping
			</div>
			<div class="tab-title return hide" id="policy">
				Return
			</div>
		</div>



{% endif %}

<script>
		$(document).on("click", ".list-tabs .tab-links", function(){
    $(".wrapper-tab-content .tab-title").removeClass('active');
    $(".wrapper-tab-content .tab-title").addClass('hide');
    var data_target = $(this).attr('data-target');
    $(".wrapper-tab-content").find(data_target).addClass('active');
    $(".wrapper-tab-content").find(data_target).removeClass('hide');
});
	</script>

<style type="text/css">
			ul.list-tabs{
				display: flex;
		justify-content: center;
		list-style-type: none;
		margin-bottom: 30px;
		flex-wrap: wrap;
		margin-right: 65px;
			}
			li.tab-title:marker{
				font-size: 0px;
			}
			span.tab-links{
				text-decoration: none;
				padding-left: 0;
		padding-right: 0;
		padding: 16px 0 14px;
		cursor: pointer;
			}
			li.tab-title span.tab-links span{
				color: black;
				font-size: 20px;
				font-family: system-ui;
				text-transform: uppercase;
				font-weight: 600;
			
			}
			li.tab-title:not(:last-child){
				margin-right: 65px;
			}
			li.tab-title{
				
				margin: 0 30px 0 0;
				letter-spacing: .2px;
			}
			.hide{
				display: none;
			}
			.active{
				display: block;
			}
  .border{
    border-bottom: 2px solid black;
  }
		</style>