{% if product.description != blank %}
   <div class="product__description rte {{ class }}" itemprop="description" {{ block.shopify_attributes }}>
    {{ product.description }}
     
  </div>
<div class="zzz">
  <ul class="list-tabs">
			<li class="tab-title">
				<a href="#" data-taptop="" data-target="#description" class="tab-links">
					<span>
						Description
					</span>
				</a>
			</li>
			<li class="tab-title">
				<a href="#" data-taptop="" data-target="#shipping" class="tab-links">
					
					<span>
						Handling
					</span>
				</a>
			</li>
			<li class="tab-title">
				<a href="#" data-taptop="" data-target="#policy" class="tab-links">
					<span>
						Return
					</span>
				</a>
			</li>
		</ul>
		<div class="wrapper-tab-content">
			<div class="tab-title description active" id="description">
				Description
			</div>
			<div class="tab-title shipping hide" id="shipping">
				Shipping
			</div>
			<div class="tab-title return hide" id="policy">
				Return
			</div>
		</div>
</div>


{% endif %}

